@charset "utf-8";
/* CSS Document */
body{
	
	background-image: url("fondos-de-enamorados-para-fondo-celular-en-hd-30.jpg");
	
}
article{
	
	align-content: center;
	background: #FFFFFF;
	color:#150E0F;
	border: #BFFEFF ridge;
	font-size: 40px;
	
	
}

